.grid-view{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	.grid-header, .grid-row{
		> div{
			padding: 10px 15px;
	    	&:not(:last-child){
	    		border-right: 1px solid #525252;
	    	}
		}
	}
	.grid-header{
		background: #222;
	    color: #fff;
	    border-radius: 5px 5px 0 0;
	}
	.grid-row{
		border-left: 1px solid #222;
		border-right: 1px solid #222;
		border-bottom: 1px solid #222;
		.statusActive, .statusInActive{
			padding: 2px 0;
		    border-radius: 20px;
		    display: block;
		    text-align: center;
		    color: #ffffff;
		}
		.statusActive{
		    background: #17de45;
		}
		.statusInActive{
		    background: #de1717;
		}
		.actions{
			text-align: right;
			i{
				width: 24px;
				height: 24px;
				text-align: center;
				padding: 4px 0px;
				font-size: 20px;
				color: #222222;
				&:hover{
					color: #8c8c8c;
				}
			}
			> i{
				float: right;
			}
			>div {
				&.collapse.in{
					position: absolute;
				    background: #fff;
				    color: #fff;
				    padding: 10px;
				    right: 48px;
				    top: 0px;
				    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
				    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
				    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
				    width: 100px;
				    display: block !important;
				    i{
				    	margin-left: 5px;
				    }
				}
			}
		}
	}
	.grid-footer{
		background: #222;
	    color: #fff;
	    border-radius: 0 0 5px 5px;
	    padding: 0 10px;
	    min-height: 10px;
	}
	@media(min-width: 768px){
		margin-top: 30px;
	}
}
.bottom-action-button{
	@media(max-width: 767px){
		position: fixed;
	    bottom: 30px;
	    right: 30px;
	    width: 70px;
	    height: 70px;
	    border-radius: 100px !important;
	    span{
	    	display: none;
	    }
	    i{
	    	font-size: 35px;
    		margin-top: 12px;
	    }
	}
}