
body,html{
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
}
.page .row{
	padding: 0px;
	margin: 0px;
}

.page{
	padding: 15px 15px 0 15px;
	position: unset;
	margin-top: 50px;
	> header{
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (max-width: 767px) {
	.page{
		width: 100%;
		position: relative;
		top: -100px;
	}
}
@media (min-width: 768px) {
	.page{
		position: absolute;
		width: calc(100% - 40px);
		margin-left: 40px;
		float: right;
	}
}
@media (min-width: 1200px) {
	.page{
		width: calc(100% - 200px);
		margin-left: 200px;
	}
}

.content {
	min-height: 100vh;
	&.row{
		padding: 0px;
		margin: 0px;
		@media(max-width: 767px){
			display: block;
		}
	}
}

.tooltip{
	z-index: 9999;
	&.fade:not(.show){
		opacity: 1 !important;
	}
}
@media (max-width: 500px){
	.hidden-xxs {
	    display: none!important;
	}
}
var.required{
	&:after{
		color: red;
		content: '*';
		
	}
}
.checkbox{
	position: relative;
	input[type="checkbox"]{
		display: none;
		+ var{
			position: absolute;
			width: 20px;
			height: 20px;
			overflow: hidden;
			&:hover{
		    	cursor: pointer;
		    }
			&:before{
				position: absolute;
				left: 0;
			    width: 20px;
			    height: 20px;
			    background: #f7f7f7;
			    box-shadow: 0 0 1px grey;
			    border: 1px solid #c5c5c5;
			    content: '';
			}
			&:after{
				content: '';
				top: 2px;
			    left: 2px;
			    position: absolute;
			    display: block;
			    width: 16px;
			    height: 16px;
			    opacity: 0;
			    background: #37b2b2;
			    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
			    transform: translate3d(-40px, 0, 0) scale(0.5);
			    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
			    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
			    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
			}
			&+ label{
				padding-left: 25px;
			}
		}
		&:checked{
			+ var{
				&:after{
		        	transform: translate3d(0, 0, 0);
    				opacity: 1;
				}
			}
		}
	}
}
span.select2 {
	width: 100% !important;
}

.custom-table{
	margin-top: 15px;
	margin-bottom: 15px;
	&__header{
		text-align: center;
		padding: 5px;
		background: #222;
		border-radius: 10px 10px 0px 0px;
		color: white;
		height: 30px;
	}
	&__body{
		border: 1px solid #222222;
		border-bottom: 0px;
		min-height: 30px;
		&__row{
			text-align: center;
			padding: 5px;
			a{
				color: #222222;
			}
			&:not(:last-of-type){
				border-bottom: 1px solid #222222;
			}
		}
	}
	&__footer{
		width: 100%;
		height: 1px;
		border-top: 1px solid #222222;
	}
}

.tabs{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
	&__header{
		display: inline-block;
		padding: 10px;
		background: #222;
		border: 1px #525252 solid;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color: #777;
		margin-right: 5px;
		&:hover, &.active-header-tab{
			color: white;
			cursor: pointer;
		}
	}
}

.active-tab{
	display: block;
}