header.topBar{
	height: 50px;
	background-color: #222222;
	border-bottom: 1px solid #080808;
	text-align: right;
	z-index: 1;
	display: block;
	width: 100%;
	button {
		color: #777777;
		position: relative;
		top: 14px;
		margin-right: 30px;
		background: none;
		border: none;
		&:hover{
			text-decoration: none;
			color: #fff;
			background-color: transparent;
		}
	}
}
nav.sidebar.navbar {
	position: relative;
	top: -50px;
	border: none;
	border-radius: 0px;
	font-size: 14px !important;
	display: block !important;
	padding: 0px !important;
	.navbar-nav, .container-fluid{
		display: block !important;
	}
}
.collapsable{
	display: none;
	&.in{
		display: block !important;
	}
}
nav.sidebar{
	-webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
    .navbar-brand {
    	padding: 5px;
    	margin: 0;
    	-webkit-transition: padding 200ms ease-out;
	    -moz-transition: padding 200ms ease-out;
	    -o-transition: padding 200ms ease-out;
	    transition: padding 200ms ease-out;
    }
    #logo2{
    	height: 40px;
    	width: 40px;
    	-webkit-transition: height 200ms ease-out, width 200ms ease-out;
	    -moz-transition: height 200ms ease-out, width 200ms ease-out;
	    -o-transition: height 200ms ease-out, width 200ms ease-out;
	    transition: height 200ms ease-out, width 200ms ease-out;
    }
    #logo3{
    	width: 110px;
    	margin-left: 10px;
    	-webkit-transition: display 200ms ease-out;
	    -moz-transition: display 200ms ease-out;
	    -o-transition: display 200ms ease-out;
	    transition: display 200ms ease-out;
    }
    
	ul.navbar-nav.nav{
		li{
			a{
				&:hover, &.active{
					color: #fff;
    				background-color: transparent;
				}
				.fas.fa-home:before{
					margin-right: -5px;
				}
				.far.fa-user:before{
					margin-right: -3px;
				}
				.fas.fa-clipboard-list:before{
					margin-right: -2px;
				}
				.fas.fa-file-invoice:before{
					margin-right: -2px;
				}
				.fas.fa-sign-out-alt:before{
					margin-right: -4px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	nav.sidebar.navbar {
	    width: 100%;
	    height: 100%;
	}
}
@media (min-width: 768px) {
	
	nav.sidebar.navbar.sidebar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	nav.sidebar .navbar-brand, 
	nav.sidebar .navbar-header{
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
	nav.sidebar a{
		padding-right: 13px;
	}
	nav.sidebar .navbar-nav > li:first-child,
	nav.sidebar .navbar-nav > li{
		border-top: 1px #525252 solid;
	}
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	nav.sidebar .navbar-collapse, 
	nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}
	nav.sidebar{
		width: 200px;
		height: 100vh;
		margin-left: -160px;
		position: relative;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
		&:after{
			z-index: -1;
			display: block;
			content: '';
			height: 100%;
			width: 200px;
			background: #222222;
			position: fixed;
			top: 0;
			left: -160px;
		}
		@media (max-width: 1199px) {
			.navbar-brand{
				padding: 10px 5px;
				margin: 0 !important;
				#logo3{
					display: none;
				}
				#logo2{
					height: 28px;
					width: 28px;
					float: right;
				}
			}
		}
	}
	nav.sidebar li {
		width: 100%;
	}
	.forAnimate{
		opacity: 0;
	}
}
@media (min-width: 1200px) {
	nav.sidebar{
		margin-left: 0px;
		float: left;
		&:after{
			z-index: -1;
			display: block;
			content: '';
			height: 100%;
			width: 200px;
			background: #222222;
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	nav.sidebar .forAnimate{
		opacity: 1;
	}
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, 
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #CCC;
	background-color: transparent;
}